<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form action="/links" method="post">

      <label for="new_title">Title:</label>
      <input type="text" name="new_title" required="true">

      <label for="new_url">URL:</label>
      <input type="url" name="new_url" required="true">

      <label for="new_tag">Tag:</label>
      <input type="text" name="tags" required="true">

      <input type="submit" name="button" value="Submit">

    </form>

  </body>
</html>
