<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form action="/tags" method="get">

      <label for="search_link">Search by tag</label>
      <input type="text" name="search_link" required="true">

      <input type="submit" name="button" value="Search">

    </form>

  </body>
</html>
